@import "bootstrap/scss/bootstrap";
@import "./styles/variables";

// Additional custom styles
footer {
  background-color: $secondary-color;
  color: white;
  text-align: center;
  padding: 20px 0;
}
